.main{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    width: 100%;
}

.main_home_section{
    display: flex;
    justify-content: center;
}

.feed{
    /* flex: 3; */
}

.profile{
    /* flex: 1; */
}


@media (max-width: 600px){
    .profile{
        display: none;
    }
}