.main{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.main_home_section{
    display: flex;
}

.feed{
    flex: 3;
}

.profile{
    flex: 1;
}


@media (max-width: 600px){
    .profile{
        display: none;
    }
}